html {
  box-sizing: border-box;
}

body {
  color: rgb(27, 27, 27);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #742edd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  text-align: center;
  width: auto;
  max-width: 900px;
  padding: 40px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.quote-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.quote-text {
  font-size: 2.75rem;
  font-weight: 400;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
  color: #742edd;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.2rem 1.8rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #742edd;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fa-twitter {
  font-size: 2rem;
}

/* MQ: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.3rem;
  }

  .fa-quote-left {
    font-size: 3rem;
  }
}